{
  "__collections__": {
    "songs": {
      "nickelback-how-you-remind-me": {
        "sections": [
          {
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            },
            "name": "Verse 1",
            "lyrics": {
              "lines": [
                "Never made it as a wise man",
                "I couldn't cut it as a poor man stealin'",
                "Tired livin' like a blind man",
                "I'm sick inside without a sense of feelin'"
              ]
            }
          },
          {
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2"]
                  }
                },
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            },
            "name": "Pre-Chorus 1",
            "lyrics": {
              "lines": [
                "And this is how you remind me",
                "This is how you remind me of what I really am",
                "This is how you remind me of what I really am"
              ]
            }
          },
          {
            "name": "Chorus 1",
            "lyrics": {
              "lines": [
                "It's not like you to say sorry",
                "Always waitin' on a different story",
                "This time I'm mistaken",
                "For handin' you a heart worth breaking",
                "And I've been wrong I've been down",
                "To the bottom of every bottle",
                "These five words in my head  scream \"Are we havin' fun yet?\""
              ]
            },
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "D#sus2"],
                    "2": ["A#sus2", "F"]
                  },
                  "repeat": 4
                }
              ]
            }
          },
          {
            "lyrics": {
              "lines": ["Yet, yet, yet", "No, no", "No, no"]
            },
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            },
            "name": "Bridge 1"
          },
          {
            "chordChart": {
              "lines": [
                {
                  "repeat": 2,
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  }
                }
              ]
            },
            "name": "Verse 2",
            "lyrics": {
              "lines": [
                "It's not like you didn't know that",
                "I said I love you and I swear I still do",
                "And it must have been so bad",
                "Cause livin with me must have damn near killed you"
              ]
            }
          },
          {
            "lyrics": {
              "lines": [
                "This is how you remind me of what I really am",
                "This is how you remind me of what I really am"
              ]
            },
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            },
            "name": "Pre-Chorus 2"
          },
          {
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "D#sus2"],
                    "2": ["A#sus2", "F"]
                  },
                  "repeat": 4
                }
              ]
            },
            "name": "Chorus 2",
            "lyrics": {
              "lines": [
                "It's not like you to say sorry",
                "Always waitin' on a different story",
                "This time I'm mistaken",
                "For handin' you a heart worth breaking",
                "And I've been wrong I've been down",
                "To the bottom of every bottle",
                "These five words in my head  scream \"Are we havin' fun yet?\""
              ]
            }
          },
          {
            "lyrics": {
              "lines": ["Yet, yet, yet", "No, no", "No, no", "No, no", "No, no"]
            },
            "chordChart": {
              "lines": [
                {
                  "repeat": 4,
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  }
                }
              ]
            },
            "name": "Bridge 2"
          },
          {
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            },
            "name": "Interlude"
          },
          {
            "name": "Verse 3",
            "lyrics": {
              "lines": [
                "Never made it as a wise man",
                "I couldn't cut it as a poor man stealin'",
                "And this is how you remind me"
              ]
            },
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  },
                  "repeat": 2
                }
              ]
            }
          },
          {
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2"]
                  }
                },
                {
                  "repeat": 2,
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  }
                }
              ]
            },
            "name": "Pre-Chorus 3",
            "lyrics": {
              "lines": [
                "And this is how you remind me",
                "This is how you remind me of what I really am",
                "This is how you remind me of what I really am"
              ]
            }
          },
          {
            "lyrics": {
              "lines": [
                "It's not like you to say sorry",
                "Always waitin' on a different story",
                "This time I'm mistaken",
                "For handin' you a heart worth breaking",
                "And I've been wrong I've been down",
                "To the bottom of every bottle",
                "These five words in my head  scream \"Are we havin' fun yet?\""
              ]
            },
            "chordChart": {
              "lines": [
                {
                  "bars": {
                    "1": ["Cm", "D#sus2"],
                    "2": ["A#sus2", "F"]
                  },
                  "repeat": 4
                }
              ]
            },
            "name": "Chorus 3"
          },
          {
            "chordChart": {
              "lines": [
                {
                  "repeat": 4,
                  "bars": {
                    "1": ["Cm", "F"],
                    "2": ["A#sus2", "D#sus2"]
                  }
                }
              ]
            },
            "name": "Outro",
            "lyrics": {
              "lines": [
                "Yet, yet",
                "\"Are we havin' fun yet?\"",
                "\"Are we havin' fun yet?\"",
                "\"Are we havin' fun yet?\"",
                "Yet, yet"
              ]
            }
          }
        ],
        "title": "How You Remind Me",
        "artist": "Nickelback",
        "__collections__": {}
      }
    }
  }
}
